.header{
    border-radius: 20px;
    height: 5vh;
    width: 95vw;
    position: fixed;
    color: var(--text)
  }
  .avatar{
    width: 40px;
    border-radius: 50%;
    margin: 0 15px 0 5px;
  }
  .smalltext{
    font-size: 12px;
    display: block;
    line-height: 8px;
    color: #b6b6b8;
  }
  .searchInput{
    background-color: #1f1437;
    border: none;
    color: var(--text);
    padding: 2px 5px 2px 35px;
    border-radius: 6px;
    width: 350px;
    background: #1f1437 url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z' fill='white'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

  